/*
 * Don't add custom CSS unless you absolutely have to...  usually in response to shared JavaScript components
 * which rely on jive.css...
 */

/* Tenant/user picker: eliminate list item numbering */
li.j-listitem {
    list-style: none;
}

.icon-warn {
    color: #F0AD4E;
}

.changelog {
    border-spacing: 0;
    border: 1px solid #ddd;
    border-bottom-width: 2px;
    border-collapse: collapse;
}


/* theme */
body {
    background-image: url(/static/img/bkg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #CECECE;
}

/* Used by event stream */
div.pad {
    padding: 3px;
}



div.health-age {
    float: right;
    background-color: #eee;
    color: #999;
    padding: 0 8px;
    height: 20px;
    margin-left: 4px;
    border-radius: 0 4px 4px 0;
}


div.unexpected-restart div.health-age {
    color: red;
}

div.datacenter-and-rack {
    font-style: italic;
    color: #000;
}

/* Used by event stream and view inspection to allow for links in JSON dumps */
div.pre-ish {
    font-family: courier, "courier new", monospace;
    font-size: 1em;
    background-color: #f5f5f5;
    color: #000;
    white-space: pre-wrap;
    border-radius: 4px;
}

div.container {
    width: 100% !important;
}

.vertical-text {
    display: inline-block;
    overflow: hidden;
    width: 1.5em;
}

.vertical-text__inner {
    display: inline-block;
    white-space: nowrap;
    line-height: 1.5;
    transform: translate(0, 100%) rotate(-90deg);
    transform-origin: 0 0;
}

/* This element stretches the parent to be square
   by using the mechanics of vertical margins  */
.vertical-text__inner:after {
    content: "";
    display: block;
    margin: -1.5em 0 100%;
}

.property-title {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 16px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 16px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 8px;
    -moz-box-shadow: 2px 2px 4px 5px #ccc;
    -webkit-box-shadow: 2px 2px 4px 5px #ccc;
    box-shadow: 2px 2px 4px 5px #ccc;
    background-color: #ccc
}

table.shadow-property {
    -moz-box-shadow: 2px 2px 4px 5px #ccc;
    -webkit-box-shadow: 2px 2px 4px 5px #ccc;
    box-shadow: 2px 2px 4px 5px #ccc;
    background-color: #555555;
}

div.grid-host-panel {
    margin-bottom: 0;
}

span.dropt:hover {
    text-decoration: none;
    background: #ffffff;
    z-index: 6;
}

span.dropt span {
    position: absolute;
    left: -9999px;
    margin: 20px 0 0 0px;
    padding: 3px 3px 3px 3px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    z-index: 6;
}

span.dropt:hover span {
    left: 2%;
    background: #ffffff;
}

span.dropt span {
    position: absolute;
    left: -9999px;
    margin: 4px 0 0 0px;
    padding: 3px 3px 3px 3px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

span.dropt:hover span {
    margin: 20px 0 0 0px;
    background: #ffffff;
    z-index: 6;
}

div.upena-hs-selector {
    display: none;
    z-index: 2000;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

div.upena-hs-choice {
    border-radius: 2px;
    background-color: #999;
    color: #fff;
    padding: 2px;
}

input.upena-hs-field-broken {
    border-color: red;
    border-style: solid;
}

div#upena-cfg-pending {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    display: none;
}

div.upena-cfg-pending-container {
    margin: 0 10px;
    background-color: #333;
    color: #ddd;
    text-align: center;
    padding: 5px 10px;
    border-width: 1px 1px 0 1px;
    border-color: #999;
    border-style: solid;
    border-radius: 6px 6px 0 0;
}

.popover {
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

div.popover-health {
    cursor: pointer;
}


form#query-filters.query-advanced { display: none; }
form#query-filters.query-show-advanced tr.query-advanced { display: table-row; }
form#query-filters.query-show-advanced td.query-advanced { display: table-cell; }

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    background-image: -webkit-linear-gradient(top,#080808 0,#0f0f0f 100%);
    background-image: -o-linear-gradient(top,#080808 0,#0f0f0f 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#080808),to(#0f0f0f));
    background-image: linear-gradient(to bottom,#EEE 0,#BBB 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff0f0f0f', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
    box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #111;
    background-color: #080808;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.coloredBox {
    text-align:center;
    float: left;
    width: 28px;
    height: 28px;
    margin: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.panel > .panel-transparent {
    background-color: rgba(255, 255, 255, 0.33);
}

#seeweed {
    position: fixed;
    bottom: 0px;
    width: 100%;
}


.bubble_wrap{
    height: 100%;
    left: 7px;
    position: absolute;
    top: 30px;
    width: 200px;
}
.bubbles{
    background-color: rgba(255, 255, 255, 0.16);
    border: 1px solid #585858;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    height: 20px;
    left: 33px;
    position: absolute;
    top: 260px;
    width: 20px;
}
.b2{
    left: 50px;
    top: 100%;

}
.b3{
    left: 60px;
    top: 100%;
}
.b4{
    left: 80px;
    top: 100%;
}
.b5{
    left: 90px;
    top: 100%;
}







/*start of bubble animations*/
.b0{
    animation-name:bubbles;
    animation-delay:2s;
    animation-duration:4s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    -moz-animation-name:bubbles;
    -moz-animation-delay:2s;
    -moz-animation-duration:4s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name:bubbles;
    -webkit-animation-delay:2s;
    -webkit-animation-duration:4s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes bubbles{
    from{
        top:100%;
        left:33px;
    }
    50%{
        left:39px;
    }
    to{
        top:0px;
        left:33px;
    }
}
@-moz-keyframes bubbles{
    from{
        top:100%;
        left:33px;
    }
    50%{
        left:39px;
    }
    to{
        top:0px;
        left:33px;
    }
}
@-webkit-keyframes bubbles{
    from{
        top:100%;
        left:33px;
    }
    50%{
        left:39px;
    }
    to{
        top:0px;
        left:33px;
    }
}
.b1{
    animation-name:bubbles;
    animation-duration:7s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    -moz-animation-name:bubbles;
    -moz-animation-duration:7s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name:bubbles;
    -webkit-animation-duration:7s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
@-moz-keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
@-webkit-keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
.b2{
    animation-name:bubbles;
    animation-delay:1s;
    animation-duration:4s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    -moz-animation-name:bubbles;
    -moz-animation-delay:1s;
    -moz-animation-duration:4s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name:bubbles;
    -webkit-animation-delay:1s;
    -webkit-animation-duration:4s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
@-moz-keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
@-webkit-keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
.b3{
    animation-name:bubbles;
    animation-delay:500s;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    -moz-animation-name:bubbles;
    -moz-animation-delay:500s;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name:bubbles;
    -webkit-animation-delay:500s;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes bubbles{
    from{
        top:100%;
        left:60px;
    }
    25%{
        left:30px;
    }
    50%{
        left:58px;
    }
    75%{
        left:37px;
    }
    to{
        top:0px;
        left:60px;
    }
}
@-moz-keyframes bubbles{
    from{
        top:100%;
        left:60px;
    }
    25%{
        left:30px;
    }
    50%{
        left:58px;
    }
    75%{
        left:37px;
    }
    to{
        top:0px;
        left:60px;
    }
}
@-webkit-keyframes bubbles{
    from{
        top:100%;
        left:60px;
    }
    25%{
        left:30px;
    }
    50%{
        left:58px;
    }
    75%{
        left:37px;
    }
    to{
        top:0px;
        left:60px;
    }
}
.b4{
    animation-name:bubbles;
    animation-duration:6s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    -moz-animation-name:bubbles;
    -moz-animation-duration:6s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name:bubbles;
    -webkit-animation-duration:6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
@-moz-keyframes bubbles{
    from{
        top:260px;
    }
    to{
        top:0px;
    }
}
@-webkit-keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
.b5{
    animation-name:bubbles;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    -moz-animation-name:bubbles;
    -moz-animation-duration:5s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name:bubbles;
    -webkit-animation-duration:5s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
@-moz-keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
@-webkit-keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
/*tail bubbles*/
.b6,.b7,.b8{
    opacity:0;
}
.b6,.b8{
    transform:scale(0.5);
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    -ms-transform:scale(0.5);
    -o-transform:scale(0.5);
}
.b7{
    transform:scale(0.8);
    -moz-transform:scale(0.8);
    -webkit-transform:scale(0.8);
    -o-transform:scale(0.8);
    -ms-transform:scale(0.8);
}
.bw2{
    width:80px;
    animation-name:tail_bubbles;
    animation-duration:30s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    -moz-animation-name:tail_bubbles;
    -moz-animation-duration:30s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name:tail_bubbles;
    -webkit-animation-duration:30s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
}


