table {
  overflow: hidden;
}

tr:hover {
  background-color: #eee;
}

td, th {
  position: relative;
}
td:hover::after,
th:hover::after {
  content: "";
  position: absolute;
  background-color: #eee;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

.gooey-area {
    filter:url('#goo');
}

.panel-no-margin {
    margin: 0px !important;
}


div.panel {
    overflow: hidden !important;
    margin: 15px;
}

div.popover-content {
    padding: 0px;
}

div#healthGradient:hover {
    cursor: pointer;
}

div.upena-title {
    margin: 0 75px;
    line-height: 48px;
    font-size: 14pt;
    text-align: center;
    font-weight: bold;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

button.navbar-toggle {
    float: left;
    margin-left: 15px;
    display: inline-block;
}

a.navbar-toggle-menu {
    float: left;
    margin: 6px 6px 6px 6px;
    padding: 6px 6px 6px 6px !important;
    display: inline-block;
}

button.navbar-toggle-logout {
    float: right;
    display: inline-block;
    padding: 6px 10px;
}


th.rotate {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
}

th.rotate > div {
    transform: translate3d(30px, 15px, 0) rotate(-45deg);
    width: 1px;
    transform-origin: left bottom;
    box-sizing: border-box;
}
th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}


.changelog {
    border-spacing: 0;
    border: 1px solid #ddd;
    border-bottom-width: 2px;
    border-collapse: collapse;
}


body {
    margin-top: 65px;
    background-image: url(/static/img/bkg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #d0d0d0;
    background-attachment: fixed;
}


div.unexpected-restart div.health-age {
    color: red;
}

div.datacenter-and-rack {
    font-style: italic;
    color: #000;
}

.vertical-text {
    display: inline-block;
    overflow: hidden;
    width: 1.5em;
}

.vertical-text__inner {
    display: inline-block;
    white-space: nowrap;
    line-height: 1.5;
    transform: translate(0, 100%) rotate(-90deg);
    transform-origin: 0 0;
}

/* This element stretches the parent to be square
   by using the mechanics of vertical margins  */
.vertical-text__inner:after {
    content: "";
    display: block;
    margin: -1.5em 0 100%;
}

.property-title {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 16px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 16px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 8px;
    -moz-box-shadow: 2px 2px 4px 5px #ccc;
    -webkit-box-shadow: 2px 2px 4px 5px #ccc;
    box-shadow: 2px 2px 4px 5px #ccc;
    background-color: #ccc
}

table.shadow-property {
    -moz-box-shadow: 2px 2px 4px 5px #ccc;
    -webkit-box-shadow: 2px 2px 4px 5px #ccc;
    box-shadow: 2px 2px 4px 5px #ccc;
    background-color: #555555;
}

div.grid-host-panel {
    margin-bottom: 0;
}

span.dropt:hover {
    text-decoration: none;
    background: #ffffff;
    z-index: 6;
}

span.dropt span {
    position: absolute;
    left: -9999px;
    margin: 20px 0 0 0px;
    padding: 3px 3px 3px 3px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    z-index: 6;
}

span.dropt:hover span {
    left: 2%;
    background: #ffffff;
}

span.dropt span {
    position: absolute;
    left: -9999px;
    margin: 4px 0 0 0px;
    padding: 3px 3px 3px 3px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

span.dropt:hover span {
    margin: 20px 0 0 0px;
    background: #ffffff;
    z-index: 6;
}

div.upena-hs-selector {
    display: none;
    z-index: 2000;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

div.upena-hs-choice {
    border-radius: 2px;
    background-color: #999;
    color: #fff;
    padding: 2px;
}

input.upena-hs-field-broken {
    border-color: red;
    border-style: solid;
}

div#upena-cfg-pending {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    display: none;
}

div.upena-cfg-pending-container {
    margin: 0 10px;
    background-color: #333;
    color: #ddd;
    text-align: center;
    padding: 5px 10px;
    border-width: 1px 1px 0 1px;
    border-color: #999;
    border-style: solid;
    border-radius: 6px 6px 0 0;
}

.popover {
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

div.popover-health {
    cursor: pointer;
}


form#query-filters.query-advanced { display: none; }
form#query-filters.query-show-advanced tr.query-advanced { display: table-row; }
form#query-filters.query-show-advanced td.query-advanced { display: table-cell; }

.coloredBox {
    text-align:center;
    float: left;
    width: 28px;
    height: 28px;
    margin: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.sign-in-up .left-inner-addon {
    position: relative;
}

.sign-in-up .left-inner-addon input {
    padding-left: 30px;
}

.sign-in-up .left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.sign-in-up .right-inner-addon {
    position: relative;
}

.sign-in-up .right-inner-addon input {
    padding-right: 30px;
}

.sign-in-up .right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 17px 12px;
    pointer-events: none;
}

.sign-in-up .click2select {
    text-align: center;
    margin-top: 1em;
}

.sign-in-up .paywith {
    padding: 12px 12px 0 0;
    margin: 0;
    font-weight: bold;
}


.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    border-radius: 10px;
    background-color: white;
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #000;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}



.tree {
    min-height:20px;
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}

.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    color:#000
}

.monospace {
    white-space: pre-wrap;
    word-wrap: normal;
    word-break: break-word;
}



$yellow: #f1c40f;
$lime: #76c900;
$navy: #0a4069;
$cyan: #57caf4;
$red: #ec008c;
$white: #fefefe;
$gray: #444;
$lightGray: lighten($gray, 30);



.chart
{
    font-size: 1.8em;

    display: flex;
    flex-direction: row;

    height: 12em;

    justify-content: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}

$faceColor: rgba($white, .8);
$growColor: rgba($cyan, 1);

@mixin drawSkin($color)
{
    &.floor
    {
        background-color: darken(rgba($color, .2), 10);
    }
    & > .growing-bar
    {
        background-color: rgba($color, .8);
        &:before
        {
            color: darken($color, 30);
            border-top-color: darken($color, 10);
        }
    }
}

.bar
{
    font-size: 1em;

    position: relative;

    width: 2em;
    padding: 1em;

    transition: transform 2s linear;
    transform: rotateX(-30deg) rotateY(-135deg);

    transform-style: preserve-3d;
    &.red .face
    {
        @include drawSkin($red);
    }
    &.cyan .face
    {
        @include drawSkin($cyan);
    }
    &.navy .face
    {
        @include drawSkin($navy);
    }
    &.lightGray .face
    {
        @include drawSkin($lightGray);
    }
    &.yellow .face
    {
        @include drawSkin($yellow);
    }
    &.lime .face
    {
        @include drawSkin($lime);
    }
    &.gray .face
    {
        @include drawSkin($gray);
    }
    .face
    {
        position: relative;
        bottom: 0;

        width: 2em;
        height: 2em;

        background-position: center center;
    }
    .side-0,
    .side-1
    {
        overflow: hidden;

        height: 10em;
    }
    .side-0
    {
        transform: rotateY(90deg) translateZ(1em);

        background-color: darken($faceColor, 05);
        .growing-bar
        {
            background-color: $growColor;
        }
    }
    .side-1
    {
        transform: rotateY(180deg) translateY(-10em) translateZ(1em);

        background-color: darken($faceColor, 15);
        .growing-bar
        {
            background-color: darken($growColor, 15);
        }
    }
    .top
    {
        transform: rotateX(90deg) translateZ(21em);
        text-align: center;

        background-color: $faceColor;
    }
    .floor
    {
        transform: rotateX(-90deg) translateY(0em) translateZ(-13em) rotate(180deg);
        text-align: center;

        background-color: transparent;
        box-shadow: 0 0 .6em rgba(0,0,0,.3), .6em -1em 3em rgba(0,0,0,.3), 1em 1em 10em $faceColor;
    }
    .growing-bar
    {
        display: inline-block;

        width: 100%;
        height: 100%;

        transition: all .3s ease-in-out;
        transform: translateY(100%);

        opacity: 0;
        &:before
        {
            font-family: 'Open Sans', sans-serif;
            font-size: .6em;
            font-weight: 700;

            display: inline-block;

            box-sizing: content-box;
            padding: .8em;

            text-align: center;

            opacity: 1;
            color: $navy;
            border-top: 2px dotted $navy;
        }
    }
}

.small-font-size
{
    font-size: 1em;
}

.reglar-font-size
{
    font-size: 1.5em;
}

.big-font-size
{
    font-size: 1.8em;
}

@for $i from 100 to 0
{
    .chart .bar-#{$i} .face.side-0,
    .chart .bar-#{$i} .face.side-1
    {
        .growing-bar
        {
            transform: translateY(100 - percentage($i/100));

            opacity: .8;
            &:before
            {
                content: '#{$i}';
            }
        }
    }
}


