
/*
 * Don't add custom CSS unless you absolutely have to...  usually in response to shared JavaScript components
 * which rely on jive.css...
 */

/* Tenant/user picker: eliminate list item numbering */
html, body {
    height: 100%;
}
body {
    padding: 0 0 0 0;
}

body {
    padding: 0 0 0 0;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}


th.rotate {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
}

th.rotate > div {
    transform: translate3d(30px, 15px, 0) rotate(-45deg);
    width: 1px;
    transform-origin: left bottom;
    box-sizing: border-box;
}
th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

div.navmenu {
    padding-top: 15px;
    width: 162px;
}

.panel-default > .panel-heading  {
    background-image: linear-gradient(to bottom,#808080 0,#000000 100%);
    color: white;
}

.popover-content {
    padding: 0px 0px;
}

.navbar {
    display: block;
    text-align: center;
}
.navbar-brand {
    display: inline-block;
    float: none;
}
.navbar-toggle {
    position: absolute;
    float: left;
    margin-left: 15px;
}

.container {
    max-width: 100%;
}

@media (min-width: 1px) {
    .navbar-toggle {
        display: block !important;
    }
}

@media (min-width: 992px) {
    body {
        padding: 0 0 0 160px;
    }
    .navmenu {
        padding-top: 0;
        width: 160px;
    }
    .navbar {
        display: none !important; /* IE8 fix */
    }
}


li.j-listitem {
    list-style: none;
}

.icon-warn {
    color: #F0AD4E;
}

.changelog {
    border-spacing: 0;
    border: 1px solid #ddd;
    border-bottom-width: 2px;
    border-collapse: collapse;
}


/* theme */
body {
    background-image: url(/static/img/bkg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #d0d0d0;
    background-attachment: fixed;
}

/* Used by event stream */
div.pad {
    padding: 3px;
}

thead.upena-thead {
    background-color: white;
}


div.upena-heading {
    background-image: linear-gradient(to top,rgb(51, 122, 183) 0,rgb(211, 225, 239) 100%);
    padding: 10px 10px;
}
span.upena-title {
    color: white;
    font-weight: bold;
}

div.upena-panel {
    border-left: 10px solid rgba(51, 122, 183, 0.19);
    border-top: 15px solid rgba(51, 122, 183, 0.2);
    height: 100%;
}

div.health-age {
}


div.unexpected-restart div.health-age {
    color: red;
}

div.datacenter-and-rack {
    font-style: italic;
    color: #000;
}

/* Used by event stream and view inspection to allow for links in JSON dumps */
div.pre-ish {
    font-family: courier, "courier new", monospace;
    font-size: 1em;
    background-color: #f5f5f5;
    color: #000;
    white-space: pre-wrap;
    border-radius: 4px;
}

div.container {
    width: 100% !important;
}

.vertical-text {
    display: inline-block;
    overflow: hidden;
    width: 1.5em;
}

.vertical-text__inner {
    display: inline-block;
    white-space: nowrap;
    line-height: 1.5;
    transform: translate(0, 100%) rotate(-90deg);
    transform-origin: 0 0;
}

/* This element stretches the parent to be square
   by using the mechanics of vertical margins  */
.vertical-text__inner:after {
    content: "";
    display: block;
    margin: -1.5em 0 100%;
}

.property-title {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 16px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 16px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 8px;
    -moz-box-shadow: 2px 2px 4px 5px #ccc;
    -webkit-box-shadow: 2px 2px 4px 5px #ccc;
    box-shadow: 2px 2px 4px 5px #ccc;
    background-color: #ccc
}

table.shadow-property {
    -moz-box-shadow: 2px 2px 4px 5px #ccc;
    -webkit-box-shadow: 2px 2px 4px 5px #ccc;
    box-shadow: 2px 2px 4px 5px #ccc;
    background-color: #555555;
}

div.grid-host-panel {
    margin-bottom: 0;
}

span.dropt:hover {
    text-decoration: none;
    background: #ffffff;
    z-index: 6;
}

span.dropt span {
    position: absolute;
    left: -9999px;
    margin: 20px 0 0 0px;
    padding: 3px 3px 3px 3px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    z-index: 6;
}

span.dropt:hover span {
    left: 2%;
    background: #ffffff;
}

span.dropt span {
    position: absolute;
    left: -9999px;
    margin: 4px 0 0 0px;
    padding: 3px 3px 3px 3px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

span.dropt:hover span {
    margin: 20px 0 0 0px;
    background: #ffffff;
    z-index: 6;
}

div.upena-hs-selector {
    display: none;
    z-index: 2000;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

div.upena-hs-choice {
    border-radius: 2px;
    background-color: #999;
    color: #fff;
    padding: 2px;
}

input.upena-hs-field-broken {
    border-color: red;
    border-style: solid;
}

div#upena-cfg-pending {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    display: none;
}

div.upena-cfg-pending-container {
    margin: 0 10px;
    background-color: #333;
    color: #ddd;
    text-align: center;
    padding: 5px 10px;
    border-width: 1px 1px 0 1px;
    border-color: #999;
    border-style: solid;
    border-radius: 6px 6px 0 0;
}

.popover {
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

div.popover-health {
    cursor: pointer;
}


form#query-filters.query-advanced { display: none; }
form#query-filters.query-show-advanced tr.query-advanced { display: table-row; }
form#query-filters.query-show-advanced td.query-advanced { display: table-cell; }

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    background-image: -webkit-linear-gradient(top,#080808 0,#0f0f0f 100%);
    background-image: -o-linear-gradient(top,#080808 0,#0f0f0f 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#080808),to(#0f0f0f));
    background-image: linear-gradient(to bottom,#EEE 0,#BBB 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff0f0f0f', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
    box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #111;
    background-color: #080808;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.coloredBox {
    text-align:center;
    float: left;
    width: 28px;
    height: 28px;
    margin: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.panel > .panel-transparent {
    background-color: rgba(255, 255, 255, 0.66);
}

#seeweed {
    position: fixed;
    bottom: 0px;
    width: 100%;
}


.bubble_wrap{
    height: 100%;
    left: 7px;
    position: absolute;
    top: 30px;
    width: 200px;
}
.bubbles{
    background-color: rgba(255, 255, 255, 0.16);
    border: 1px solid #585858;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    height: 20px;
    left: 33px;
    position: absolute;
    top: 260px;
    width: 20px;
}
.b2{
    left: 50px;
    top: 100%;

}
.b3{
    left: 60px;
    top: 100%;
}
.b4{
    left: 80px;
    top: 100%;
}
.b5{
    left: 90px;
    top: 100%;
}







/*start of bubble animations*/
.b0{
    animation-name:bubbles;
    animation-delay:2s;
    animation-duration:4s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    -moz-animation-name:bubbles;
    -moz-animation-delay:2s;
    -moz-animation-duration:4s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name:bubbles;
    -webkit-animation-delay:2s;
    -webkit-animation-duration:4s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes bubbles{
    from{
        top:100%;
        left:33px;
    }
    50%{
        left:39px;
    }
    to{
        top:0px;
        left:33px;
    }
}
@-moz-keyframes bubbles{
    from{
        top:100%;
        left:33px;
    }
    50%{
        left:39px;
    }
    to{
        top:0px;
        left:33px;
    }
}
@-webkit-keyframes bubbles{
    from{
        top:100%;
        left:33px;
    }
    50%{
        left:39px;
    }
    to{
        top:0px;
        left:33px;
    }
}
.b1{
    animation-name:bubbles;
    animation-duration:7s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    -moz-animation-name:bubbles;
    -moz-animation-duration:7s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name:bubbles;
    -webkit-animation-duration:7s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
@-moz-keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
@-webkit-keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
.b2{
    animation-name:bubbles;
    animation-delay:1s;
    animation-duration:4s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    -moz-animation-name:bubbles;
    -moz-animation-delay:1s;
    -moz-animation-duration:4s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name:bubbles;
    -webkit-animation-delay:1s;
    -webkit-animation-duration:4s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
@-moz-keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
@-webkit-keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
.b3{
    animation-name:bubbles;
    animation-delay:500s;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    -moz-animation-name:bubbles;
    -moz-animation-delay:500s;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name:bubbles;
    -webkit-animation-delay:500s;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes bubbles{
    from{
        top:100%;
        left:60px;
    }
    25%{
        left:30px;
    }
    50%{
        left:58px;
    }
    75%{
        left:37px;
    }
    to{
        top:0px;
        left:60px;
    }
}
@-moz-keyframes bubbles{
    from{
        top:100%;
        left:60px;
    }
    25%{
        left:30px;
    }
    50%{
        left:58px;
    }
    75%{
        left:37px;
    }
    to{
        top:0px;
        left:60px;
    }
}
@-webkit-keyframes bubbles{
    from{
        top:100%;
        left:60px;
    }
    25%{
        left:30px;
    }
    50%{
        left:58px;
    }
    75%{
        left:37px;
    }
    to{
        top:0px;
        left:60px;
    }
}
.b4{
    animation-name:bubbles;
    animation-duration:6s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    -moz-animation-name:bubbles;
    -moz-animation-duration:6s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name:bubbles;
    -webkit-animation-duration:6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
@-moz-keyframes bubbles{
    from{
        top:260px;
    }
    to{
        top:0px;
    }
}
@-webkit-keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
.b5{
    animation-name:bubbles;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    -moz-animation-name:bubbles;
    -moz-animation-duration:5s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name:bubbles;
    -webkit-animation-duration:5s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
@-moz-keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
@-webkit-keyframes bubbles{
    from{
        top:100%;
    }
    to{
        top:0px;
    }
}
/*tail bubbles*/
.b6,.b7,.b8{
    opacity:0;
}
.b6,.b8{
    transform:scale(0.5);
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    -ms-transform:scale(0.5);
    -o-transform:scale(0.5);
}
.b7{
    transform:scale(0.8);
    -moz-transform:scale(0.8);
    -webkit-transform:scale(0.8);
    -o-transform:scale(0.8);
    -ms-transform:scale(0.8);
}
.bw2{
    width:80px;
    animation-name:tail_bubbles;
    animation-duration:30s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;

    -moz-animation-name:tail_bubbles;
    -moz-animation-duration:30s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name:tail_bubbles;
    -webkit-animation-duration:30s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.sign-in-up .left-inner-addon {
    position: relative;
}

.sign-in-up .left-inner-addon input {
    padding-left: 30px;
}

.sign-in-up .left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.sign-in-up .right-inner-addon {
    position: relative;
}

.sign-in-up .right-inner-addon input {
    padding-right: 30px;
}

.sign-in-up .right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 17px 12px;
    pointer-events: none;
}

.sign-in-up .click2select {
    text-align: center;
    margin-top: 1em;
}

.sign-in-up .paywith {
    padding: 12px 12px 0 0;
    margin: 0;
    font-weight: bold;
}


.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    border-radius: 10px;
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #000;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}



.tree {
    min-height:20px;
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}

.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    color:#000
}