{namespace soy.upena.page}

/**
 * 
 */
{template .unauthorizedPluginRegion}
    
    <div style="margin:10% auto 0 auto; width:500px;" class="well">
        <div class="alert alert-danger" role="alert">Nope!</div>
    </div>
{/template}


